/*=== GENERAL FONT ===*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/*======== DEFINIÇÃO DE VARIÁVEIS GLOBAIS ========*/
:root{
    /*=== GENERAL COLORS  ===*/
    --color-background: #ffffea;
    --color-primary: #2b2c30;
    --color-secundary: #35313b;
    --color-tertiary: white;
    --color-buttons: #2f3559;

    /*=== TOWERS COLOR  ===*/
    --color-pin: #b88c87;

    /*=== DISC COLORS  ===*/
    --color-first-position: #2f2e30;
    --color-second-position: #e84b2c;
    --color-third-position: #e6d839;
    --color-fourth-position: #7cd164;
    --color-fifth-position: #2eb8ac;

    /*==== FONT ======*/
    --font-primary: 'Oswald', sans-serif;

}

/*===== RESET STYLES =====*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*===== GENERAL DEFINITION =====*/
body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, label, figcaption, input, button, textarea {
    font-family: var(--font-primary);
}

body{
    background: var(--color-tertiary);
}

h1, p {
    text-align: center;
    margin-top: 10px;
}

.background-tower__hanoi{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    height: 450px;
    width: 600px;
    background: var(--color-background);
    margin: 30px auto;
    position: relative;
}

.tower{
    position: relative;
    cursor: pointer;
}

.tower::after{
    content: ' ';
    display: block;
    position: absolute;
    width: 20px;
    height: 200px;
    bottom: 0px;
    left: 90px;
    border-radius: 10px 10px 0 0;
    background: var(--color-pin);
}

.t1{
    left: 0;
}

.t2{
    left: 200px;
}

.t3{
    left: 400px;
}

.base{
    position: absolute;
    height: 20px;
    width: 600px;
    background: var(--color-pin);
    bottom: 0;
}

.disco{
    position: absolute;
    height: 30px;
    width: 180px;
    border-radius: 20px;
    margin-left: 10px;
    z-index: 2;
    background-color: var(--color-first-position);
    pointer-events: none;
    transition: left .2s, bottom .2s .2s;
}

.d1{
    background-color: var(--color-fifth-position);
    width: 60px;
    margin-left: 70px;
}
.d2{
    background-color: var(--color-fourth-position);
    width: 90px;
    margin-left: 55px;
}

.d3{
    background-color: var(--color-third-position);
    width: 120px;
    margin-left: 40px;
}

.d4{
    background-color: var(--color-second-position);
    width: 150px;
    margin-left: 25px;
}


.p1{ bottom: 20px;}

.p2{ bottom: 50px;}

.p3{ bottom: 80px;}

.p4{ bottom: 110px;}

.p5{ bottom: 140px;}

.p0{ bottom: 250px;}
